/vendor/
node_modules/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/sites/*/settings.php
/web/sites/*/files/
/backups/
env
/.env
/deploy/build/
/deploy/deployment-files/*.zip
*.sql
*.sql.gz
/backups/*.sql
/backups/*.sql.gz
.DS_Store
.idea/
