<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Do not process rewritten requests OR requests that map to existing files
RewriteCond %{ENV:REDIRECT_STATUS} . [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Rewrite EVERYTHING to the /pages subdirectory
RewriteRule ^ /web%{REQUEST_URI} [L]

</IfModule>
