/**
 * Main custom SCSS
 * Use this folder and file to manage your custom styles.
 */

@import "example";

// I want avatars' text not be capitalized
.avatar-wrapper.avatar-extra-text .extra-text p{
  text-transform: initial !important;
  font-size: inherit !important;
}

.point-date {
  display: flex;
  align-items: end;
}

.card .card-body .card-text {
  font-family: inherit !important;
}

// Not necessary due to .card-text has more priority than font-serif
//.font-serif {
  // No font serifs in my webpage
  //font-family: inherit !important;
//}
