{% if variant and variant != 'default' %}
  {% set attributes = attributes.addClass('btn-group-' ~ variant) %}
{% endif %}

{% if variant and variant != 'vertical' %}
  {% set attributes = attributes.addClass('btn-group') %}
{% endif %}

{% if label %}
  {% set attributes = attributes.setAttribute('aria-label', label) %}
{% endif %}

<div{{ attributes.setAttribute('role', 'group') }}>
  {{ buttons }}
</div>
