{% apply spaceless %}
  {% embed '@italiagov_components/timeline_fixed/timeline.html.twig' with {
    items: content,
    timeline_attributes: timeline_attributes
  } %}

    {% block timelineItems %}
      {% for item in items %}
        <div class="col-12 hello">
          {{ item }}
        </div>
      {% endfor %}
    {% endblock %}

  {% endembed %}
{% endapply %}
